.liList{
    list-style-type: none;
    margin-right:10px;
    margin-top:10px;
    
   
}
.listContainer{
    background-color:#ffffff;
    width:400px;
    height:200px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding:10px;
    
}
.id{
    color:#000000;
}