.mainGridContainer{
    height:100vh;
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.formContainer{
    height:300px;
    width:300px;
    padding:30px;
    background-color:grey;

}
.inputContainers{
    display: flex;
    flex-direction: column;
    margin:20px;
    
}
.submit{
    margin-left:20px;
}